<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-light" [ngStyle]="navbg">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="#">
        <img src="https://www.freepnglogos.com/uploads/netflix-logo-0.png" height="40" alt="" loading="lazy" />
      </a>
  
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">TV Shows</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Recently Added</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My List</a>
          </li>
        </ul>
        <!-- Left links -->
  
        <!-- Search form -->
        
        <ul class="navbar-nav mb-2 ms-4 me-8 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Search</a>
          </li>
          <!-- Navbar dropdown -->
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle  ms-8" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(2).jpg" class="rounded-circle img-fluid"
                height='25' width='25'>
            </a>
            <!-- Dropdown menu -->
            <ul class="dropdown-menu dropdown-menu-end p-1 bg-dark" aria-labelledby="navbarDropdown">
              <li class="my-2 d-flex align-items-center"><img
                  src="https://mdbootstrap.com/img/Photos/Avatars/img%20(4).jpg" class="rounded-circle img-fluid me-1"
                  height='25' width='25'><span class="text-white"> User 1</span></li>
              <li class="my-2 d-flex align-items-center"><img
                  src="https://mdbootstrap.com/img/Photos/Avatars/img%20(6).jpg" class="rounded-circle img-fluid me-1"
                  height='25' width='25'><span class="text-white"> User 2</span></li>
              <li class="my-2 d-flex align-items-center"><img
                  src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle img-fluid me-1"
                  height='25' width='25'><span class="text-white"> User 3</span></li>
              <li><a class="dropdown-item" href="#">Manage Profilses</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="#">Your Account</a></li>
              <li><a class="dropdown-item" href="#">Help</a></li>
              <li><a class="dropdown-item" href="#">Log Out</a></li>
            </ul>
          </li>
        </ul>
  
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->