<app-banner [bannerData]="bannerData"></app-banner>
<div class="contain mt-3 mb-5 p-4">
    <app-category [title]="trendingTitle" [movieData]="trendingMoviesData"></app-category>
    <app-category [title]="actionTitle" [movieData]="actionMoviesData"></app-category>
    <app-category [title]="adventureTitle" [movieData]="adventureMoviesData"></app-category>
    <app-category [title]="animationTitle" [movieData]="animationMoviesData"></app-category>
    <app-category [title]="comedyTitle" [movieData]="comedyMoviesData"></app-category>
    <app-category [title]="documentaryTitle" [movieData]="documentaryMoviesData"></app-category>
    <app-category [title]="sciFiTitle" [movieData]="sciFiMoviesData"></app-category>
    <app-category [title]="thrillerTitle" [movieData]="thrillerMoviesData"></app-category>
</div>
<div class="footer">
    <p>&copy; 2023 Made by Basim Mohammed</p>
</div>